
.Headerf1 {
  width: 100%;
}
.fHeader {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-width: 550px;
  min-width: 330px;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.fContainer {
  width: 100%;
  margin: auto;
  position: relative;

}

.FormControl {
  padding-left: 4%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-stretch: expanded;
  color: rgb(168, 168, 168);
  border: none;
  border-radius: 2px 0px 0px 2px;
  /*outline: none;
  */background-color: white;
  width: 96%;
  height: 45px;
  -webkit-border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  -ms-border-radius: 2px 0px 0px 2px;
  -o-border-radius: 2px 0px 0px 2px;
  
}

.FormControl:focus {
  outline: none;
  background-color: rgb(233, 233, 233);
}
  .formSuggestionsContainer {
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 120;
  border: 0.5px solid #ccc;
  margin-top: 1px;
  width: 100%;
  }

  .formBtn1 {
    height: 47px;
    width: 100px;
    box-sizing: border-box;
    border: 1px hidden white;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /*Safari*/transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fed468;
    color: white;
    border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -ms-border-radius: 0px 2px 2px 0px;
    -o-border-radius: 0px 2px 2px 0px;
    z-index: 105;
}

.formBtn1:hover {
    background-color: white; 
    color: black; 
    border: 1px solid #fed468;
}

.formMagGlass {
    height: 18px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

  .sugItem {
    font-family: 'Roboto';
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-stretch: expanded;
    color: #979797;
    box-sizing: border-box;
    background-color: #ffffff;
    background-position: right;
    background-repeat: no-repeat;
    padding: 16px 10px 16px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: -5px 0px;
    cursor: pointer;
    width: 100%;

}

  .sugItem:hover {
      cursor: pointer;
      background-color: #979797;
      color: white;
      

  }


  .Backdrap {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.3);

  }

 