.tbContainer {
    font-style: inherit;
    background-color:#2b58dd;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
}

.tbContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 250;
}

.tbNav {
    max-width: 600px;
    min-width: 359px;
    margin: 10px auto 10px auto;
    text-align: center;

}

.divLogo {
    border-top: 1px solid grey;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 40px auto;
}

@media (max-width: 530px) {}
@media (min-width: 530px) {}
