.ftContainer {
    font-style: 'Roboto';
    background-color:#3b39ce79;
    color: white;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
}
.fTecPin {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
@media (max-width: 530px) {}
@media (min-width: 530px) {}
