.SideDrawer {
    position: fixed;
    width: 250px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: rgba(66, 66, 66, 0.7);
    padding: 32px 50px 0 0;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;

}

.Logo1a {
    height: 60px;
    width: 160px;
    margin-right: 30px;
}
.sdImages {
    height: 100%;
    width: 100%;

}
@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
.Logo1a {
    height: 11%;
    margin-left: 60px;
    margin-bottom: 32px;
}